@charset "UTF-8";

.header {
	background-color: rgba(202,58,60,1);
	height: 150px;
	width: 960px;
}
.sidebar {
	height: 800px;
	width: 200px;
	background-color: rgba(176,154,154,1);
	float: left;
}
.content {
	background-color: rgba(249,243,220,0.25);
	float: left;
	height: 760px;
	width: 720px;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}
.p {
}
.content p {
	color: rgba(115,12,14,1.00);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
	height: 950px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
.header a {
	color: rgba(28,216,219,1.00);
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	font-style: normal;
	font-variant: small-caps;
	font-size: large;
	text-decoration: none;
}
body {
	background-image: url(../images/bkgdHome.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0% 0%;
	background-size: cover;
}
