.videogallery {
	width:100%;
	zoom:1;
}
.videogallery span{
	display:block;
}
.videogallery a{
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	vertical-align:top;
	width:85px;
	font-family:Trebuchet,Tahoma,Arial,sans-serif;
	font-size:15px;
	font-weight:normal;
	text-decoration:none;
	text-align:left;
	opacity:1;
	margin-top: 35px;
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 170px;
	text-shadow: 1.4px 1.4px #000;
}
.videogallery a.videolb{
	display:none;
}
.videogallery a img{
	display:block;
	border:none;
	margin:0;
}
.videogallery a:hover{
	opacity:1;
}