@import url('reset.css');

#jsContainer {
	display:block;
	position:relative;
	width:950px;
	height:690px;
	margin:10px auto;
	overflow: hidden;
}

body{
	background:#000;
	color:#fff;
	font-family: 'Bitstream Vera Serif', Baskerville, serif;
	/*text-transform:uppercase;*/
	overflow: scroll;
}
a{
	color:#fff;
	text-decoration:none;
}
img.ac_bgimage{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	opacity:0.8;
	display:none;
}
/*.ac_overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	background:transparent url(../images/pattern.png) repeat top left;
}*/
.ac_loading{
	position:fixed;
	top:10px;
	right:10px;
	background:#000 url(../images/loader.gif) no-repeat center center;
	width:50px;
	height:50px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px 10px 10px 10px;
	z-index:999;
	opacity:0.7;
	display:none;
}
.ac_content{
	position:relative;
	height:90px;
	width:100%;
	top:87%;
	left:0px;
	margin-top:-65px;
	margin:0 auto;
}
.ac_content h1{
	background:url(../images/siteLogo.png) no-repeat;
	display:block;
	float:left;
	width:210px; /* adjusts width for logo */
	height:50px;
	padding:20px;
	font-size:36px;
	font-weight:bold;
	line-height:20px;
}
/*.ac_content h1 span{
	display:block;
	font-weight:normal;
	font-size:14px;
}*/
.ac_menu{
	background:transparent url(../images/bg_menu.png) repeat top left;
	float:left;
	position:relative;
	height:90px;
	width:0px; 
}
.ac_menu > ul{
	float:right;
}
.ac_menu > ul > li{
	float:left;
	position:relative;
	height:90px;
	overflow:hidden;
}
.ac_menu > ul > li > a {
	margin-top:60px;
	opacity:0;
	display:block;
	height:90px;
	padding:0px 10px;
	text-align:center;
	line-height:90px;
	outline:none;
	font-size:14px;
	font-weight:normal;
	text-shadow:1px 1px 1px #000;
}
.ac_subitem{
	width:400px;
	height:0px; /* animate to 400px */
	margin-top:0px; /* animate to -200px (was originally 'margin-top') */
	position:fixed;
	overflow:hidden;
	top: 610px; /*adjusts height from the top*/
	z-index:99;
	background:transparent url(../images/bg_menu.png) repeat top left;
}
.ac_subitem h2{
	font-size:22px;
	font-weight:bold;
	color:#fff;
	padding: 40px 0px 0px 40px;
	text-shadow:0px 0px 1px #000;
}
.ac_subitem ul{
	padding:0px 15px;
}

.ac_subitem ul li:first-child{ /* Edit this for universal title text */
	font-size:.9em;
	letter-spacing:.1em;
	color:#CCC;
	text-transform:none;
	border-bottom:1px solid #999;
	padding-bottom:10px;
	margin-bottom:15px;
	font-family: 'Bitstream Vera Serif', Baskerville, serif;
	/*change font-family for subtitle */
}
.ac_subitem ul li{ /* Edit this for universal menu text */
	margin:10px 0px;
	font-size: .8em;
	line-height:20px;
	text-align:left;
	text-transform: none; /*text for the clickable links in the submenu */
	font-family: 'Bitstream Vera Serif', Baskerville, serif;
}
.ac_subitem ul > li.product-images {
	position: relative;
	/* position circles */
	left: 9px;
}
.ac_subitem ul > li > a {
	position: relative;
	top: -8px;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right:20px;
	text-transform: none; /*text for the clickable links in the submenu */
}
.circle {
	display: block;
	width: 10px;
	height: 10px;
	background: #fff;
	-moz-border-radius: 7.5px;
	-webkit-border-radius: 7.5px;
}
.disabled {
	background: grey;
	cursor: default;
}
.ac_subitem ul > li > a > img {
	position: relative;
	/* product item thumbnail position */
	top: 7px;
	left: 6px;
	height: 25px;
	width: 25px;
	display: none;
}
.ac_subitem ul > li > a div {
	position: relative;
	/* Circle position */
	top: 14px;
	left: 14px;
}

/* Form Item Styling */
.ac_subitem ul li form > .form-item {
	display: block;
	margin: 8px 0px 0px 0px;
}
.ac_subitem ul li form > .form-item .error {
	display: inline;
	padding-left: 5px;
	margin-top: 3px;
	font-size: 9px;
	color: red;	
}
.ac_subitem ul li form > .form-item label {
	display: inline-block;
	width: 90px;
	vertical-align: top;
	position: relative;
	top: 3px;
	font-family: 'Bitstream Vera Serif', Baskerville, serif;
	font-size:.9em;
}
.ac_subitem ul li form > .form-item input[type=text], .ac_subitem ul li form > .form-item textarea {
	color: black;
	width: 175px;
}
.ac_subitem ul li form > .form-item input[type=text] {
}
.ac_subitem ul li form > .form-item textarea {
	height: 75px;
	resize: none;
	padding: 5px;
}
.ac_subitem ul li form > .form-item button {
	position: relative;
	top: -5px;
	margin-left: 90px; /*242px; right aligned */
}
/* Form Item Styling END */

span.ac_close{
	float:right;
	margin:10px;
	width:11px;
	height:12px;
	cursor:pointer;
	background:transparent url(../images/close.png) no-repeat top left;
	opacity:0.4;
}
span.ac_close:hover{
	opacity:1.0;
}

#who-we-are {
	/* This will override universal text formatting for the Who We Are title
	font-size: 25px;
	*/
}